/* Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html, body{
    min-height: 100%;
    height: 100%;
}

.height{
    min-height: 100%;
    height: 100%;

}

.heightform{
    min-height: 100%;
    height: 100%;
}

/* Incian estilos del login*/

/* Bloque Izq */

.ClinPol{
    background: rgb(239,72,182);
background: linear-gradient(322deg, rgba(239,72,182,1) 0%, rgba(31,83,216,1) 84%);
}
.ClinPol img{
    max-width: 300px;
    margin-top: 5%;
}

.ClinPol p{
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 0.7rem;
    max-width: 60%;

}


/* Bloque Der */

.ClinPolLogin{
    background-color: #fff;
}

.ClinPolLogin h3{
    font-family: "Open Sans", sans-serif;
 }


.ClinPolLogin p{
    font-family: "Open Sans", sans-serif;
    font-size: 0.7rem;
    margin: 3% 5% 0 0;
    font-weight: bold;
    text-align: center;
}

.ClinPolLogin p a{
   color: #1F53D8;
   text-decoration: none;
}

.ClinPolLogin input{
    border: 1px solid #DCDBDD;
    border-radius: 8px;
    height: 50px;
 }

 /* abrir cerrar ojo password */

 .password-container {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
  }


  /* estilos menu */
.mainmenu{
    padding: 0.5rem 0px 0px 0px;
    background: rgb(239,72,182);
    background: linear-gradient(322deg, rgba(239,72,182,1) 0%, rgba(31,83,216,1) 84%);
}

.bg-body-tertiary{
    background-color: #25336C!important;
    margin: 0;
    padding: 0;
}

.bg-body-tertiary .container-fluid{
    padding-left: 0;
}

.navbar-brand{
    background-color: #fff;
}

.navbar-nav .nav-item .nav-link{
    color: #fff;
}

.navbar-nav .dropdown-menu a{
    color:#25336C;
}

.navbar-toggler{
    border: none;
}


/* estilos forms */

.backform{
    background-color: #F3F6F9;
}

.bodyform{
    background-color: #FFFFFF;
    padding: 5%;
    -webkit-box-shadow: 0px 0px 13px -9px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 13px -9px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 13px -9px rgba(66, 68, 90, 1);
border-radius: 5px;
}


.mainimgform{
    background: rgb(31,83,216);
background: linear-gradient(160deg, rgba(31,83,216,1) 0%, rgba(239,72,182,1) 100%);
border-radius: 5px 0 0 5px;
}

.mainimgform img{
    margin: 5% 0;
}

.mainimgform h5,p{
    color: #fff;
    margin-right: 5%;
}


.stepforms{
    background-color: #FDFDFD!important;
    -webkit-box-shadow: inset 0px 0px 12px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 12px -6px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 12px -6px rgba(66, 68, 90, 1);
}

.stepforms p{
    color: #000000;
    font-size: 0.8rem;
    margin: 0px;
    padding: 5px;
    font-weight: 500;

}



.sendForm{
    background-color: #EF48B6;
    border: 1px solid #EF48B6;
    border-radius: 5px;
}

.btn:hover {
    background-color: #1f53d8;
    border: 1px solid #1f53d8;
    border-radius: 5px;
}


/* Footer */

.footerlegal p{
    font-weight: 200;
   color: #fff;
   padding: 1%;
   font-size: 0.8rem;
   text-align: center;
}
.footerlegal{
    background-color: #25336C;
    margin: 0;
   
}


/* genero */

.SelecGen{
    border: 1px solid #E7ECED;
    width: 150px;
    height: 120px;
    background-color: #dcdcdc;
    border-radius: 5px;
    cursor: pointer;
    float: left;
}


.SelecGen img{
    width:30px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
   
    
}

.SelecGen p{
   text-align: center;
   color: #000000;
   font-weight: 100;
    
}


.gender p{
    color: #000000;
}

.bodyPart p{
    color: #000000;
    font-size: 0.9rem;
}


/* Estilo específico para los elementos seleccionados */
.input-hidden:checked + label .SelecGen {
    background-color: #1F53D8; /* Cambia según tus necesidades */
}


.input-hidden:checked + label .SelecGen p {
    color: #dcdcdc;
    font-weight: 300;
}


.input-hidden {
    display: none;
}

/* Estilos del select canvas */


#canvasContainer p {
    font-size: .8rem;
    margin-top: 15px;
}


#canvas {
    border: 1px solid #ccc;
    cursor: crosshair;
    background-color: #F3F6F9;
   
    
}


/* Estilos para switch */
.switch-container {
    display: flex;
    align-items: center;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Etiquetas "Sí" y "No" */
  .label-yes,
  .label-no {
    margin-left: 10px;
    margin-right: 10px;
  }
  



/*********************************
*********************************
*********************************
*********************************
Inician estilos del admin
*********************************
*********************************
**********************************/

/* estilos del menu */
.gfg { 
    height: 50px; 
    width: 50px; 
  
} 


.bdSidebar{
    -webkit-box-shadow: 2px 0px 10px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: 2px 0px 10px -10px rgba(66, 68, 90, 1);
    box-shadow: 2px 0px 10px -10px rgba(66, 68, 90, 1);

}

.mynav { 
    color: #fff; 
} 
  
.mynav li a { 
    color: #000000; 
    text-decoration: none; 
    width: 100%; 
    display: block; 
    border-radius: 5px; 
    padding: 8px 5px; 
} 
  
.mynav li a.active { 
    background: rgba(255, 255, 255, 0.2); 
} 
  

.mynav li a:hover { 
    background-color: #F3F6F9;
} 
  
.mynav li a i { 
    width: 25px; 
    text-align: center; 
} 
  
.notification-badge { 
    background-color: rgba(255, 255, 255, 0.7); 
    float: right; 
    color: #222; 
    font-size: 14px; 
    padding: 0px 8px; 
    border-radius: 2px; 
}



.ad_breadcrumb .active{
    font-size: 0.9rem;
    color: #25336C;
}

.ad_breadcrumb{
    font-size: 0.9rem;
    color: #A2A2A2;
}



.ad_foot_menu{
    font-size: 0.7rem;
    width: 258px;
}


/* Estilos del formulario */
.card-title{
    font-size: 1.5rem;
    font-weight: 300;
}


.card-title span{
    font-size: 1.5rem;
    font-weight: 600;
}



.scrolling-text {
    border: 1px dotted #A2A2A2;
    border-radius: 5px;
    overflow-y: scroll;
    max-height: 200px;
    max-width: 90%;
    padding: 10px;
    background-color: #fdfdfd;
}


.titleg {
    padding-left: 15px;
}


.scrolling-text p{
    margin: 0px;
   color: #000000;
   font-size: 0.9rem;
  
}

/* Estilos modulo firma */
.signature-pad {
    border: 1px dotted #ABAFB3;
    background-color: #F3F6F9;
    border-radius: 5px;
    width: 300px;
    height: 150px;
    cursor: crosshair; /* Cambia el cursor para indicar que se puede dibujar */
  }

  .subSig{
    font-size: 0.9rem;
    color: #ABAFB3;
    padding-bottom: 0px;
    margin-bottom: 5px;
  }
  

/* Estilos input */

.upload{
   
    padding: 0px;
    min-width: 500px;
    border-radius: 10px;
}

input#formFileMultiple {
    background-color: #DDDFE1;
    color: #000000;
   
 
}



.input-with-image {
    position: relative;
}

.formInput .col-sm-12 {
    display: flex;
    align-items: center;
    position: relative;
}

.file-icon {
    position: absolute;
    right: 0px; /* Ajusta la posición de la imagen según sea necesario */
    max-height: 100%;
}





  /* media queries */
  @media only screen and (max-width:767px) { 
	
    
    .height{
        min-height: 80%;
        height: 80%;
    
    }

    .heightform{
        height: auto;
        min-height: auto;
        
    }

    .ClinPolLogin .legal{
       position: absolute;
      bottom: 5px;
      text-align: center;


    }

    .bg-body-tertiary{
        background-color: #ffffff!important;
        margin: 0;
        padding: 0;
    }


    .navbar-nav .nav-item .nav-link{
        color: #25336C;
        background-color: #F3F6F9;
        padding-left: 5%;
    }
    

    .mainimgform img{
       width: 50px;
    }


    .ad_foot_menu{
        font-size: 0.7rem;
        width: auto
    }
    
    
    
}